<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="ボードゲーム・アナログゲーム好きな方にボードゲームの魅力を紹介している動画と近日開催されるイベントを紹介します!!">
    <meta name="robots" content="noodp">
    <link rel="canonical" href="https://www.boardgame-mania.click/">
    <meta property="og:locale" content="ja_JP">
    <meta property="og:type" content="website">
    <meta property="og:title" content="BoardGameMania">
    <meta property="og:description" content="ボードゲーム・アナログゲーム好きな方にボードゲームの魅力を紹介している動画と近日開催されるイベントを紹介します!!">
    <meta property="og:url" content="https://www.boardgame-mania.click/">
    <meta property="og:site_name" content="BoardGameMania">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="ボードゲーム・アナログゲーム好きな方にボードゲームの魅力を紹介している動画と近日開催されるイベントを紹介します!!">
    <meta name="twitter:title" content="BoardGameMania">

    <title>BoardGameMania</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'normalize.css' %>
    <%= stylesheet_link_tag 'main.css' %>
    <%= stylesheet_link_tag 'font-awesome.min.css' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
