<!DOCTYPE html>
<html>
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5WP7JT7');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="ボードゲーム・アナログゲーム好きな方にボードゲームの魅力を紹介している動画と近日開催されるイベントを紹介します!!">
    <meta name="robots" content="noodp">
    <link rel="canonical" href="https://www.boardgame-mania.click/">
    <meta property="og:locale" content="ja_JP">
    <meta property="og:type" content="website">
    <meta property="og:title" content="BoardGameMania">
    <meta property="og:description" content="ボードゲーム・アナログゲーム好きな方にボードゲームの魅力を紹介している動画と近日開催されるイベントを紹介します!!">
    <meta property="og:url" content="https://www.boardgame-mania.click/">
    <meta property="og:site_name" content="BoardGameMania">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:description" content="ボードゲーム・アナログゲーム好きな方にボードゲームの魅力を紹介している動画と近日開催されるイベントを紹介します!!">
    <meta name="twitter:title" content="BoardGameMania">

    <title>BoardGameMania</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'normalize.css' %>
    <%= stylesheet_link_tag 'main.css' %>
    <%= stylesheet_link_tag 'font-awesome.min.css' %>
  </head>

  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5WP7JT7"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <%= yield %>
  </body>
</html>
